* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/* ------------------- */

.main-randm {
  background-color: #f3f4f5;
}

.list-randm {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1.5rem;
}

.card-randm {
  box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
  background-color: #fff;
}
.card-randm img{
  width: 100%;
}

.card-randm:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.info-randm {
  height: 50px;
  padding: 0 10px;
  line-height: 40px;
  display: flex;
  justify-content: space-between;
}