* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/* ------------------- */

.main-randm-light {
  background-color: #f3f4f5;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 30px;
}

.list-randm-light {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1.5rem;
}

.card-randm-light {
  box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
  background-color: #fff;
}
.card-randm-light img{
  width: 100%;
}

.card-randm-light:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.info-randm-light {
  height: 50px;
  padding: 0 10px;
  line-height: 43px;
  display: flex;
  justify-content: space-between;
  color: #000;
}


.main-randm-dark {
  background-color: #1c1c1c;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 30px;
}

.list-randm-dark {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1.5rem;
}

.card-randm-dark {
  box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
  background-color: rgb(52, 52, 52);
}
.card-randm-dark img{
  width: 100%;
}

.card-randm-dark:hover {
  box-shadow: rgba(255, 255, 255, 0.4) 0px 10px 15px -3px, rgba(255, 255, 255, 0.05) 0px 4px 6px -2px;
}

.info-randm-dark {
  height: 50px;
  padding: 0 10px;
  line-height: 43px;
  display: flex;
  justify-content: space-between;
  color: #fff;
}


.container-buttons-page {
  display: flex;
  max-width: 1920px;
  justify-content: space-between;
}

.buttons-pages {
  display: flex;
  max-width: 1920px;
  justify-content: flex-end;
  margin: 50px 0;
  padding: 10px;
  background-color: #3B82F6;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
  font-size: 18px;
}